---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
---

<Layout title="John Rugan">
	<main>
		
		<Header/>
		<p class="instructions">
			Welcome to my personal portfolio site. Intentionally minimal to avoid bloat but made with Astro to add components in the future.<br>
			Astro seems like a slighty debloated framework so I used it.
			


			<!--To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
			
			#TODO
			- add blog
			- add markdown source for projects 
			- contact page /w CV
			
		-->
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://github.com/JohnRugan139/Geometric-Distribution-Calc"
				title="Geometric Distribution Calculator"
				body="Python GUI application for calculating probabilities,mean and varience in geometric distribution"
			/>
			<Card
				href="https://github.com/JohnRugan139/portfolio"
				title="Astro Portfolio Site"
				body="This website, made in Astro. Simple repository for projects."
			/>
			
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
