<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="https://www.linkedin.com/in/john-rugan-dev/">Linkedin</a>
    <a href="https://github.com/JohnRugan139">Github</a>
  </div>


  <style>
	.nav-links a {
		margin: auto;
		padding: 0.5rem;
		max-width: 60ch;
        color: #147c37;
        text-decoration: none;
    }
</style>