---
import Navigation from './Navigation.astro';
---
<header>
    <h1>John Rugan</h1>
  <nav>
    <Navigation />
  </nav>
</header>


<style>
    h1 {
		font-size: 3rem;
		font-weight: 800;
		font-family: rubik;
		color:#fb576f;
		margin: 0;
	}
</style>